<div class="password-container">
  <input [type]="hide ? 'password' : 'text'" [formControl]="control" [readonly]="readonly" [placeholder]="placeholder"
    (input)="validateInput($event)" (keypress)="restrict($event)" (keydown.space)="$event.preventDefault()"
    (paste)="disablePaste($event)" [maxlength]="maxLength" />

  <div class="visibility-toggle" (click)="toggleVisibility()">
    <span class="material-icons">
      {{ hide ? 'visibility' : 'visibility_off' }}
    </span>
  </div>

  <app-error-message [control]="control" [showMultipleErrors]="true"
    [validation]="{ messages: errorMessages, errors: control.errors }">
  </app-error-message>
</div>