<!-- <div [formGroup]="userForm">
    <input type="text" formControlName="phone"/>
    <app-error-message [control]="userForm.controls['phone']"
        [validation]="{ messages: errorMessages || { required: 'This is required' }, errors: userForm.controls['phone'].errors }">
    </app-error-message>
</div> -->

<form [formGroup]="form">
  <app-custom-input-number
    [control]="form.controls['number']"
    [hideArrows]="true"
    [maxLength]="10"
    [allowDecimal]="true"
    [errorMessages]="{ required: 'This field is required', minlength: 'Min length required' }">
  </app-custom-input-number>

  <button type="submit" (click)="submit()">Submit</button>
</form>
