<div class="time-picker-wrapper" (click)="$event.stopPropagation()">
    <div *ngIf="!range" class="time-input" (click)="toggleTimePicker()">
        <input type="text" [value]="control ? (control.value | date: use24HourFormat ? 'HH:mm' : 'hh:mm a') : (timeForm.get('time')?.value | date: use24HourFormat ? 'HH:mm' : 'hh:mm a')" readonly (blur)="onBlurEvent()" />
        <span class="clock-icon">🕒</span>
    </div>

    <div *ngIf="range" class="time-range-wrapper">
        <div class="time-input" (click)="toggleTimePickerStart()">
            <input type="text" [value]="startTimeControl ? (startTimeControl.value | date: use24HourFormat ? 'HH:mm' : 'hh:mm a') : (timeForm.get('startTime')?.value | date: use24HourFormat ? 'HH:mm' : 'hh:mm a')" readonly placeholder="Start Time" (blur)="onBlurEvent()" />
            <span class="clock-icon">🕒</span>
        </div>
        <div class="time-divider">-</div>
        <div class="time-input" (click)="toggleEndTimePickerEnd()">
            <input type="text" [value]="endTimeControl ? (endTimeControl.value | date: use24HourFormat ? 'HH:mm' : 'hh:mm a') : (timeForm.get('endTime')?.value | date: use24HourFormat ? 'HH:mm' : 'hh:mm a')" readonly placeholder="End Time" (blur)="onBlurEvent()" />
            <span class="clock-icon">🕒</span>
        </div>
    </div>

    <div *ngIf="isEndOpen || isStartOpen || isOpen" class="time-picker-container" #timePickerContainer [class.open]="isEndOpen || isStartOpen || isOpen">
        <ul class="time-options">
            <li *ngFor="let option of (isEndOpen ? getFilteredTimeOptions() : timeOptions)" 
                [class.selected]="getSelectedTime(option)"
                (click)="onTimeSelected(option, isEndOpen)">
                {{ option }}
                <span *ngIf="getSelectedTime(option)" class="tick-mark">✔</span>
            </li>
        </ul>
    </div>

    <div *ngIf="range" class="time-actions">
        <button type="button" (click)="applyTimeRange()" class="apply-btn">Apply</button>
    </div>
</div>